<!DOCTYPE html>
<html>
    <form action="/checkout" method="post">
        <label for="item" name="item">Item: </label>
        <input type="text" id="item" name="item">
        <input type="submit" id="submit" value="submit">
    </form>
</html>